[Unit]
Description="boundary-worker"
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/boundary/boundary.hcl
[Service]
User=boundary
Group=boundary
PIDFile=/var/run/boundary/boundary.pid
ExecStart=/usr/local/bin/boundary server -config=/etc/boundary/boundary.hcl -log-level=trace
StandardOutput=file:/var/log/boundary/boundary.log
StandardError=file:/var/log/boundary/boundary.log
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=42
TimeoutStopSec=30
StartLimitInterval=60
StartLimitBurst=3
LimitMEMLOCK=infinity
[Install]
WantedBy=multi-user.target


systemctl daemon-reload
systemctl enable boundary-worker
systemctl restart boundary-worker
